[package]
name = "${project_name}"
version = "${version}"
edition = "2024"

[lib]
path="src/main.rs"
crate-type = ["cdylib", "staticlib"]

[dependencies]
aimer = {git="https://github.com/Cottons29/aimer.git", branch = "1.97.1-alpha-2"}