use aimer::style::*;
use aimer::*;

// this is the entry point of the app
#[aimer::main]
fn main() {
    // simply start the app with AimerApp::start
    AimerApp::start(CounterWidget::new(2))
}

// creating a widget with state
#[allow(non_snake_case)]
#[widget(Stateful)]
pub struct CounterWidget {
    pub initial_count: i32,
}

impl CounterWidget {
    pub fn new(initial_count: i32) -> Self {
        Self { initial_count }
    }
}
// create a state for the CounterWidget
pub struct CounterState {
    count: i32,
    on_loading: bool,
    updater: StateUpdater<Self>,
}

// implement the StatefulWidget trait for CounterWidget
impl StatefulWidget for CounterWidget {
    type State = CounterState;

    fn create_state(self) -> CounterState {
        CounterState {
            count: self.initial_count,
            updater: StateUpdater::empty(),
            on_loading: false,
        }
    }
}
// implement the State trait for CounterState
impl State<CounterWidget> for CounterState {
    fn init_state(&mut self, _updater: StateUpdater<Self>)
    where
        Self: Sized,
    {
        self.updater = _updater
    }

    // build the widget with state
    fn build(&self, _: &BuildContext) -> impl Widget {
        // debug!("self.count: {}", self.count);
        let updater = self.updater.clone();
        Container::new()
            .color(Color::WHITE)
            .padding(LayoutSpacing {
                top: Spacing::Px(20),
                ..Default::default()
            })
            .child(
                Flex::new()
                    .direction(LayoutDirection::Column)
                    .vertical_alignment(BoxAlignment::Center)
                    .horizontal_alignment(BoxAlignment::Center)
                    .children([
                        Text::new("Widget with State")
                            .text_style(
                                TextStyle::new()
                                    .font_size(25)
                                    .color(Colors::Black)
                                    .font_weight(FontWeight::Bold),
                            )
                            .boxed(),
                        SizedBox::new().height(50).boxed(),
                        Text::new(format!("Clicked: {}", self.count,))
                            .text_style(TextStyle::new().font_size(25).color(Colors::Black))
                            .boxed(),
                        SizedBox::new().height(50).boxed(),
                        Container::new()
                            .box_decoration(BoxDecoration::new().border_radius(8))
                            .width(Dimension::Px(200.0))
                            .height(Dimension::Px(50.0))
                            .box_child(
                                Button::new()
                                    .disabled(self.on_loading)
                                    .on_press(move || {
                                        println!(
                                            "Button pressed with state : {}",
                                            updater.read_state().count
                                        );
                                        updater.set_state(|state| {
                                            state.count += 1;
                                        });
                                    })
                                    .decoration(BoxDecoration::new().background_color(Color::BLACK))
                                    .child(
                                        Text::new(if self.on_loading {
                                            "Loading..."
                                        } else {
                                            "Increase"
                                        })
                                        .text_align(TextAlign::MidCenter)
                                        .text_style(TextStyle::new().color(Color::WHITE)),
                                    ),
                            ),
                        SizedBox::new().height(20).boxed(),
                        Container::new()
                            .box_decoration(BoxDecoration::new().border_radius(8))
                            .width(Dimension::Px(200.0))
                            .height(Dimension::Px(50.0))
                            .box_child(
                                Button::new()
                                    .disabled(self.on_loading)
                                    .on_press({
                                        let updater = self.updater.clone();
                                        move || {
                                            updater.set_state(|state| {
                                                state.count -= 1;
                                            });
                                        }
                                    })
                                    .decoration(BoxDecoration::new().background_color(Color::BLACK))
                                    .child(
                                        Text::new("Decrease")
                                            .text_align(TextAlign::MidCenter)
                                            .text_style(TextStyle::new().color(Color::WHITE)),
                                    ),
                            ),
                    ]),
            )
    }
}
