[package]
name = "${project_name}"
version = "${version}"
edition = "2024"

[lib]
crate-type = ["cdylib", "staticlib"]

[dependencies]
aimer = {git="https://github.com/Cottons29/aimer.git", branch = "nightly-0.0.1"}