# Androids
builds/android/.gradle
builds/android/app/build
builds/android/app/src/main/jniLibs

# xcode project
builds/ios/build
builds/macos/build

# staticlib builds
builds/macos/Libraries
builds/ios/Libraries

# web
builds/web/dist
builds/web/pkg
builds/web/assets


# cargo target
target
Cargo.lock

# add another ignore here -_-
